<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @course.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @course.rating %>
</p>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
